<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<label for="start-date-input">Start date:</label>
<input type="date" id="start-date">
<label for="end-date-input">End date:</label>
<input type="date" id="end-date">